In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
cd = pd.read_csv('dim_customers.csv') # cd= customers data
sd = pd.read_csv('fact_sales.csv') # sd= sales data

In [ ]:
print(cd.head()) #معرفة شكل المعلومات
print(cd.info())
print(cd.describe())

   Customer ID    Order City Order Postal Order State  Latitude  Longitude
0        18287  Rock Springs   82901-7321          WY   41.5869  -109.2048
1        18283       JACKSON   83001-9460          WY   43.4800  -110.7618
2        18282      Greybull        82426          WY   44.4892  -108.0562
3        18281      EVANSTON   82930-4706          WY   41.2680  -110.9633
4        18280      CHEYENNE   82001-7901          WY   41.1400  -104.8202
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4372 entries, 0 to 4371
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Customer ID   4372 non-null   int64
 1   Order City    4372 non-null   object
 2   Order Postal  4372 non-null   object
 3   Order State   4372 non-null   object
 4   Latitude      4282 non-null   float64
 5   Longitude     4282 non-null   float64
dtypes: float64(2), int64(1), object(3)
memory usage: 205.1+ KB
None
        Customer ID     Latitude    Longitude
count   4372.000000  4282.000000  4282.000000
mean   15299.677722    37.785725   -92.339507
std     1722.390705     5.304073    17.368989
min    12346.000000    19.920000  -158.185900
25%    13812.750000    33.987950  -105.124400
50%    15300.500000    38.882300   -86.635150
75%    16778.250000    41.360600   -77.968400
max    18287.000000    61.216300   -68.569100

In [ ]:
print(cd.isnull().sum()) # null cells

Customer ID      0
Order City       0
Order Postal     0
Order State      0
Latitude        90
Longitude       90
dtype: int64

In [ ]:
cd.drop(columns=['Latitude','Longitude','Order Postal'], inplace=True) # delete unwanted columns

In [ ]:
state_abbreviations =  {
    'alabama': 'al', 'alaska': 'ak', 'arizona': 'az', 'arkansas': 'ar', 'california': 'ca',
    'colorado': 'co', 'connecticut': 'ct', 'delaware': 'de', 'florida': 'fl', 'georgia': 'ga',
    'hawaii': 'hi', 'idaho': 'id', 'illinois': 'il', 'indiana': 'in', 'iowa': 'ia',
    'kansas': 'ks', 'kentucky': 'ky', 'louisiana': 'la', 'maine': 'me', 'maryland': 'md',
    'massachusetts': 'ma', 'michigan': 'mi', 'minnesota': 'mn', 'mississippi': 'ms', 'missouri': 'mo',
    'montana': 'mt', 'nebraska': 'ne', 'nevada': 'nv', 'new hampshire': 'nh', 'new jersey': 'nj',
    'new mexico': 'nm', 'new york': 'ny', 'north carolina': 'nc', 'north dakota': 'nd',
    'ohio': 'oh', 'oklahoma': 'ok', 'oregon': 'or', 'pennsylvania': 'pa', 'rhode island': 'ri',
    'south carolina': 'sc', 'south dakota': 'sd', 'tennessee': 'tn', 'texas': 'tx',
    'utah': 'ut', 'vermont': 'vt', 'virginia': 'va', 'washington': 'wa', 'west virginia': 'wv',
    'wisconsin': 'wi', 'wyoming': 'wy'
} #replace names of states to abbreviation

In [ ]:
cd['Order State'] = cd['Order State'].replace(state_abbreviations)

print(cd)

      Customer ID            Order City Order State
0           18287          Rock Springs          WY
1           18283               JACKSON          WY
2           18282              Greybull          WY
3           18281              EVANSTON          WY
4           18280              CHEYENNE          WY
...           ...                   ...         ...
4367        12350             RIVERSIDE          CA
4368        12349             RIO VISTA          CA
4369        12348  Rancho Santa Margari          CA
4370        12347         Pleasant Hill          CA
4371        12346           PALM DESERT          CA

[4372 rows x 3 columns]

In [ ]:
print(cd.iloc[694]) # التأكد من معلومات احد الصفوف

Customer ID         17347
Order City     CROSSVILLE
Order State            TN
Name: 694, dtype: object

In [ ]:
cd = cd.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x) # make the data lower and strip the cells

<ipython-input-84-ad467babbe2b>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  cd = cd.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)

In [ ]:
cd.to_csv("clean_customers_2.csv", index=False) #حفظ الملف

In [ ]:
print(sd.head())
print(sd.info())
print(sd.describe())

  Transaction Date  Customer ID  \
0   12/1/2020 8:26      17850.0
1   12/1/2020 8:34      13047.0
2   12/1/2020 8:34      13047.0
3   12/1/2020 9:00      13748.0
4   12/1/2020 9:02      17850.0

                                         Description Stock Code  Invoice No  \
0                                 Dog and Puppy Pads     85123A    536365.0
1                                Pet Odor Eliminator      84879    536367.0
2                      Rechargeable Pet Nail Grinder      22960    536368.0
3  Litter Slide Multi-Cat Scented Clumping Clay C...      22086    536371.0
4                                 Dog and Puppy Pads     85123A    536373.0

   Quantity   Sales  Unit Price
0         1   15.30       15.30
1         6   60.84       10.14
2         1   25.50       25.50
3        14  214.20       15.30
4         1   15.30       15.30
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25065 entries, 0 to 25064
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction Date  25065 non-null  object
 1   Customer ID       20649 non-null  float64
 2   Description       25065 non-null  object
 3   Stock Code        25065 non-null  object
 4   Invoice No        24404 non-null  float64
 5   Quantity          25065 non-null  int64
 6   Sales             25065 non-null  float64
 7   Unit Price        25065 non-null  float64
dtypes: float64(4), int64(1), object(3)
memory usage: 1.5+ MB
None
       Customer ID     Invoice No      Quantity         Sales    Unit Price
count  20649.00000   24404.000000  25065.000000  25065.000000  25065.000000
mean   15288.80217  559952.514793      2.981408     61.082257     28.771337
std     1692.08989   12755.865862     11.905880    289.275933     41.807294
min    12347.00000  536365.000000   -321.000000  -4911.300000      0.000000
25%    13884.00000  549568.000000      1.000000     20.280000     12.480000
50%    15152.00000  560223.500000      1.000000     29.700000     23.700000
75%    16762.00000  570871.000000      2.000000     59.400000     29.700000
max    18287.00000  581585.000000    717.000000  38970.000000   3897.000000

In [ ]:
print(sd.isnull().sum())

Transaction Date       0
Customer ID         4416
Description            0
Stock Code             0
Invoice No           661
Quantity               0
Sales                  0
Unit Price             0
dtype: int64

In [ ]:
duplicate_rows = sd[sd.duplicated(subset=['Customer ID', 'Invoice No', 'Stock Code','Quantity'], keep=False)]# معرفة الصفوف المتكررة
print(duplicate_rows)

      Transaction Date  Customer ID  \
244    12/3/2020 11:36          NaN
245    12/3/2020 11:36          NaN
454    12/6/2020 13:17      16550.0
492    12/6/2020 15:12      13481.0
544    12/7/2020 12:45      17511.0
...                ...          ...
24045   12/1/2021 9:19      14389.0
24650  12/6/2021 14:07      16571.0
24902  12/8/2021 11:21          NaN
24903  12/8/2021 11:21          NaN
25005  12/8/2021 19:28      17924.0

                                             Description Stock Code  \
244                                  Pet Odor Eliminator      84879
245                                  Pet Odor Eliminator      84879
454              Sheba Perfect Portions Pat Wet Cat Food      22197
492                        Rechargeable Pet Nail Grinder      22960
544                                   Dog and Puppy Pads     85123A
...                                                  ...        ...
24045                          Earth Rated Dog Poop Bags     85099B
24650                   UltraSound Dog Barking Deterrent      22720
24902  Taste of the Wild High Prairie Grain-Free Dry ...      22423
24903  Taste of the Wild High Prairie Grain-Free Dry ...      22423
25005                         Templation Soft Cat Treats      23084

       Invoice No  Quantity   Sales  Unit Price
244      536876.0         2   20.28       10.14
245      536876.0         2   38.28       19.14
454           NaN         0    0.00        5.10
492           NaN         0    0.00       25.50
544           NaN         0    0.00       15.30
...           ...       ...     ...         ...
24045         NaN         0    0.00       12.48
24650         NaN         0    0.00       29.70
24902    581256.0         1  149.76      149.76
24903    581256.0         1  192.24      192.24
25005         NaN         0    0.00       12.48

[263 rows x 8 columns]

In [ ]:
sd_cleaned = sd.drop_duplicates(subset=['Customer ID', 'Invoice No', 'Stock Code','Quantity'], keep=False)#مسح السفوف المتكررة

In [ ]:
sd_cleaned.duplicated(subset=['Invoice No']).sum()

13374

In [ ]:
unique_products_per_invoice = sd.groupby('Invoice No')['Description'].nunique()

In [ ]:
sd_cleaned = sd_cleaned.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)

<ipython-input-100-59573be54449>:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  sd_cleaned = sd_cleaned.applymap(lambda x: x.strip().lower() if isinstance(x, str) else x)

In [ ]:
print(sd_cleaned.head(1540))

      Transaction Date  Customer ID  \
0       12/1/2020 8:26      17850.0
1       12/1/2020 8:34      13047.0
2       12/1/2020 8:34      13047.0
3       12/1/2020 9:00      13748.0
4       12/1/2020 9:02      17850.0
...                ...          ...
1553  12/21/2020 15:19          NaN
1554  12/21/2020 15:19          NaN
1555  12/21/2020 15:19          NaN
1556  12/21/2020 15:19          NaN
1557  12/21/2020 15:19          NaN

                                            Description Stock Code  \
0                                    Dog and Puppy Pads     85123A
1                                   Pet Odor Eliminator      84879
2                         Rechargeable Pet Nail Grinder      22960
3     Litter Slide Multi-Cat Scented Clumping Clay C...      22086
4                                    Dog and Puppy Pads     85123A
...                                                 ...        ...
1553  Memory Foam Pet Beds for Small, Medium, and La...      47566
1554     Milk-Bone MaroSnacks Dog Treats with Real Bone      22386
1555     Milk-Bone MaroSnacks Dog Treats with Real Bone      22386
1556                      Rechargeable Pet Nail Grinder      22960
1557            Sheba Perfect Portions Pat Wet Cat Food      22197

      Invoice No  Quantity   Sales  Unit Price
0       536365.0         1   15.30       15.30
1       536367.0         6   60.84       10.14
2       536368.0         1   25.50       25.50
3       536371.0        14  214.20       15.30
4       536373.0         1   15.30       15.30
...          ...       ...     ...         ...
1553    539738.0         1   55.92       55.92
1554    539738.0         1   30.36       30.36
1555    539739.0         1   30.36       30.36
1556    539739.0         1   50.82       50.82
1557    539737.0         2   19.92        9.96

[1540 rows x 8 columns]

In [ ]:
sd_cleaned['Customer ID'] = sd['Customer ID'].fillna('Unknown') #تبديل الاماكن الفارغة في اكواد العملاء

In [ ]:
sd_cleaned.isnull().sum() # know the null values

Transaction Date      0
Customer ID           0
Description           0
Stock Code            0
Invoice No          460
Quantity              0
Sales                 0
Unit Price            0
dtype: int64

In [ ]:
sd_cleaned = sd_cleaned.dropna(subset=['Invoice No']) #delete nulls

In [ ]:
sd_cleaned.isnull().sum()

Transaction Date    0
Customer ID         0
Description         0
Stock Code          0
Invoice No          0
Quantity            0
Sales               0
Unit Price          0
dtype: int64

In [ ]:
print(sd_cleaned.head())

  Transaction Date Customer ID  \
0   12/1/2020 8:26     17850.0
1   12/1/2020 8:34     13047.0
2   12/1/2020 8:34     13047.0
3   12/1/2020 9:00     13748.0
4   12/1/2020 9:02     17850.0

                                         Description Stock Code  Invoice No  \
0                                 dog and puppy pads     85123a    536365.0
1                                pet odor eliminator      84879    536367.0
2                      rechargeable pet nail grinder      22960    536368.0
3  litter slide multi-cat scented clumping clay c...      22086    536371.0
4                                 dog and puppy pads     85123a    536373.0

   Quantity   Sales  Unit Price
0         1   15.30       15.30
1         6   60.84       10.14
2         1   25.50       25.50
3        14  214.20       15.30
4         1   15.30       15.30

In [ ]:
sd_cleaned.shape

(24342, 8)

In [ ]:
sd_cleaned.to_csv("clean_sales_3.csv", index=False)